@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

}


.app {

  .main {
    background: rgb(190, 141, 251);
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgb(255, 171, 171);
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;

    .form {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      /*border: 1px solid rgb(255, 171, 171);*/
      padding: 10px;
      border-radius: 5px;

      .form-group {
        box-sizing: border-box;
        width: 100%;

      }
    }

    .results {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      .res-info {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        border: 1px solid;
        padding: 10px;
        border-radius: 5px;

        .res-world {
          font-size: 2em;
        }
      }

      .res-list {
        .phras {
          display: flex;
          align-items: flex-start;
          gap:20px;
        }

        li {
          list-style-type: none;
          margin: 0;
        }

        p {
          margin-bottom: 5px;
        }

        ul {
          margin: 0;
          padding-left: 10px;
          /* Отступ слева в браузере Firefox, Safari, Chrome */
        }
      }

    }

    .error {
      color: rgb(253, 110, 2);
    }
  }
}

@media(max-width: 600px) {
  .app {
    .main {
      width: auto;

      .results {
        .res-list {
          .phras {
            display: inline;
 
            width: auto;
          }
        }
      }

    }


  }

}