@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.app {
  .main {
    background: rgb(239, 226, 251);
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;

    &.dark {
      background: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
    }

    .form {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      /*border: 1px solid rgb(255, 171, 171);*/
      padding: 10px;
      border-radius: 5px;

      &.dark-light {
        background-color: rgb(75, 75, 75);
        color: rgb(255, 255, 255);
      }

      .form-group {
        box-sizing: border-box;
        width: 100%;
      }
    }

    .results {
      padding: 10px;
      border-radius: 5px;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      &.dark-light {
        background-color: rgb(75, 75, 75);
        color: rgb(255, 255, 255);
      }
      .res-info {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        border: 1px solid;
        padding: 10px;
        border-radius: 5px;

        .res-world {
          font-size: 2em;
        }
      }

      .res-list {
        li {
          list-style-type: none;
          margin: 2px;
        }

        p {
          margin: 5px 0;
        }

        ul {
          margin: 0;
          padding-left: 10px;
        }
      }
    }

    .error {
      color: rgb(253, 110, 2);
    }
  }
}

@media (max-width: 600px) {
  .app {
    .main {
      width: auto;

      .results {
        .res-list {
          .phrase {
            display: inline;

            width: auto;
          }
        }
      }
    }
  }
}
